.crystal-image {
    width: 120px;
    height: 125px;
    margin-right: 20px;
    margin-left: 10px;
}

.container {
    background: purple;
}

body {
    margin: 0 auto;
    background-image: url("../images/Crystal_Background.jpg");
    background-repeat: round;
    width: 50%;
    color: white;
}

#heading {
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    color: white;
}

#main {
    text-align: left;
    color: white;
    background: blueviolet;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
}

#score-area {
    margin-right: 0;
    margin-left: 0;
}

#target-score {
    background: violet;
    padding: 20px;
}

#user-score {
    margin: 0 auto; 
    text-align: center;
}

#user-score-container {
    background: darkorchid;
    margin-bottom: 30px;
    padding: 20px;
}

#wins-losses {
    background: mediumorchid;
    padding: 20px;
}

#crystal-container {
    margin: 0 auto;
    height: 100px;
}